spring:
  application:
    name: recommender-engine

  datasource:
    url: jdbc:postgresql://db:5432/recommender_db?sslmode=disable
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
    hikari:
      connection-timeout: 20000
      initialization-fail-timeout: 20000

  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect
    defer-datasource-initialization: true
  sql:
    init:
      mode: always

  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher

jwt:
  secret: mySuperSecretKeyThatIsAtLeast32CharsLong!
  expiration-ms: 86400000

logging:
  level:
    com.codebytes2.recommender: DEBUG
    org.springframework.security: DEBUG
    io.swagger.v3: DEBUG
    org.springdoc: DEBUG
    org.springframework.web.servlet.mvc.method.annotation.ResponseEntityExceptionHandler: TRACE